.navbar .navbar-brand span {
  font-size: 1rem !important;
}

div a {
  text-decoration: none !important;
  color: white;
  &:hover {
    color: rgb(253, 0, 0);
  }
}

.container {
  min-height: 650px;
  max-width: 800px !important;
}

i:hover{
color: red !important;
}


footer {
  height: auto;
}
